@model News


@*<img src="@Model.PicturePath"/>*@

    <div class="card mb-3">
        <img src="@Model.PicturePath" class="card-img-top h-5 w-5">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text"><small class="text-body-secondary">نویسنده : @Model.Journalist.Username</small></p>
        </div>
        <div>
            <h3>کامنت</h3>
            
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">بیننده</th>
                        <th scope="col">متن</th>
                        <th scope="col">تعداد لایک</th>
                        <th scope="col">تعداد دیس لایک</th>
                        <th scope="col">لایک</th>
                        <th scope="col">دیس لایک<th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var comment in Model.Comments)
                    {
                        <tr>
                            <td>@comment.Visitor.Username</td>
                            <td>@comment.Description</td>
                            <td>@comment.NumberOfLikes</td>
                            <td>@comment.NumberOfDislikes</td>
                            <td><a class="btn btn-success" asp-controller="Visitor" asp-action="LikeComment" asp-route-commentId="@comment.Id">لایک</a></td>
                            <td><a class="btn btn-danger" asp-controller="Visitor" asp-action="DislikeComment" asp-route-commentId="@comment.Id">دیسلاک</a></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>


<h3>اضافه کردن کامنت</h3>

@Html.Partial("/Views/Partials/_CommetPartial.cshtml", new NewsComment() { NewsId=Model.Id})

